In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
re_df = pd.read_csv('ratings_Electronics.csv',names=['user_id','product_id','rating','timestamp'])
re_df.head()

          user_id  product_id  rating   timestamp
0   AKM1MP6P0OYPR  0132793040     5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944     5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341     1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341     3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341     1.0  1334707200

In [3]:
re_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 4 columns):
user_id       object
product_id    object
rating        float64
timestamp     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [4]:
import pandas as pd
import gzip

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('reviews_Electronics_5.json.gz')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1689188 entries, 0 to 1689187
Data columns (total 9 columns):
reviewerID        1689188 non-null object
asin              1689188 non-null object
reviewerName      1664458 non-null object
helpful           1689188 non-null object
reviewText        1689188 non-null object
overall           1689188 non-null float64
summary           1689188 non-null object
unixReviewTime    1689188 non-null int64
reviewTime        1689188 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 128.9+ MB

In [6]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [7]:
##df.to_csv('reviews.csv')

In [8]:
re_df.head()

          user_id  product_id  rating   timestamp
0   AKM1MP6P0OYPR  0132793040     5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944     5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341     1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341     3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341     1.0  1334707200

In [19]:
re_df.isnull().any()

user_id       False
product_id    False
rating        False
timestamp     False
dtype: bool

<h3>Popularity Recommender model</h3>

In [38]:
def popularModel():
    return re_df.sort_values(by='rating', ascending=False).head(10)

In [39]:
popularProducts = popularModel()
popularProducts

                user_id  product_id  rating   timestamp
0         AKM1MP6P0OYPR  0132793040     5.0  1365811200
4517539  A24TMZNTFUY7HC  B004W26IVC     5.0  1366761600
4517551  A39DCWST8TYG5A  B004W29GIE     5.0  1353715200
4517550  A3MCP1Y87DJFL7  B004W29GIE     5.0  1374192000
4517547  A2SEOS4OSHYO3W  B004W29EYU     5.0  1358985600
4517545  A2M8701Z3T8G0L  B004W29CRO     5.0  1389571200
4517544  A1ZT3I76VJS9JU  B004W26IVC     5.0  1355702400
4517542  A398JEIY86GXTX  B004W26IVC     5.0  1356652800
4517541  A36VH1ENB59YMI  B004W26IVC     5.0  1320624000
4517540  A2H3HM1BCPIVGE  B004W26IVC     5.0  1335830400

<h3>Collabarative Filtering</h3>

In [42]:
def userProducts(userId):
    user_products = re_df[re_df['user_id'] == userId]['product_id']
    return user_products

def productUsers(productId):
    product_users = re_df[re_df['product_id'] == productId]['user_id']
    return product_users

def allUniqueProducts():
    uniqueProducts = re_df['product_id'].unique()
    return uniqueProducts

In [53]:
user_products = userProducts('A5JLAU2ARJ0BO')
user_products.head()

2162     1400532655
32736    B00003006R
35087    B00003G1RG
38345    B00004S9AK
40411    B00004SB92
Name: product_id, dtype: object

In [50]:
product_users = productUsers('B004W1QRBO')
print(product_users)

4517526     AN9SBEIYZCSOB
4517527    A30KYZ6179J62B
Name: user_id, dtype: object

In [51]:
unique_products = allUniqueProducts()
print(unique_products)

['0132793040' '0321732944' '0439886341' ... 'BT008T2BGK' 'BT008UKTMW'
 'BT008V9J9U']

In [54]:
np.matrix(np.zeros(shape=(len(unique_products),len(user_products))),float)

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])